process {
    executor = 'slurm'
}
params {
    featurecounts {
        genes_gtf="/groups/umcg-gdio/tmp01/umcg-kmaassen/resources/gtf/gencode.v29lift37.annotation.gtf"
    }
    extcounts {
        blood="/groups/umcg-gdio/tmp01/umcg-tniemeijer/resources/counts/GTEX/Whole_Blood--hg19--gencode29"
    }
    output="/groups/umcg-gdio/tmp01/umcg-tniemeijer/outrider_fraser/nf_MAE_FRAS_OUTR"
    samplesheet="/groups/umcg-gdio/tmp01/umcg-tniemeijer/resources/sampletables/sampletable.tsv"
    fasta="/apps/data/1000G/phase1/human_g1k_v37_phiX.fasta.gz"
}