workDir="/groups/umcg-gdio/tmp01/umcg-tniemeijer/outrider_fraser/new_output_test/work"

singularity {
    enabled = true
    cacheDir = "/groups/umcg-gdio/tmp01/umcg-tniemeijer/tmp"
    autoMounts = true
}
process {
    executor="slurm"
    container="file:///${projectDir}/containers/timniem_rna_outliers_test.sif"
}
params {
    featurecounts {
        genes_gtf="/groups/umcg-gdio/tmp01/umcg-tniemeijer/resources/gtf/gencode.v29lift37.annotation.gtf"
    }
    extcounts {
        blood="/groups/umcg-gdio/tmp01/umcg-tniemeijer/resources/counts/GTEX/Whole_Blood--hg19--gencode29"
        amount_outrider=100
        amount_fraser=100
    }
    samplesheet="/groups/umcg-gdio/tmp01/umcg-tniemeijer/resources/sampletables/sampletable.tsv"
    fasta="phase1/human_g1k_v37_phiX.fasta.gz"
    fastafolder="/apps/data/1000G/phase1/"
    output="/groups/umcg-gdio/tmp01/umcg-tniemeijer/outrider_fraser/new_output_test"
    
    fraser {
        frasercountsR="${projectDir}/fraser/frasercounts.R"
        mergescriptR="${projectDir}/fraser/merge_counts.R"
        fraserR="${projectDir}/fraser/fraser.R"
    }
    outrider {
        outridercountsR="${projectDir}/outrider/featurecounts.R"
        mergecountsR="${projectDir}/outrider/mergecounts.R"
        outriderR="${projectDir}/outrider/outrider.R"
    }
    
}
