process {
    executor = 'slurm'
}
params {
    featurecounts {
        genes_gtf="/groups/umcg-gdio/tmp01/umcg-tniemeijer/resources/gtf/UCSC_genes_comb_canonical.gtf"
        introns_gtf="/groups/umcg-gdio/tmp01/umcg-tniemeijer/resources/gtf/UCSC_introns_comb_canonical.gtf"
        transcripts_gtf="/groups/umcg-gdio/tmp01/umcg-tniemeijer/resources/gtf/UCSC_exons_comb_canonical.gtf"
    }
    output="/groups/umcg-gdio/tmp01/umcg-tniemeijer/outrider_fraser/test_nf"
    params.samplesheet = '/groups/umcg-gdio/tmp01/umcg-tniemeijer/outrider_fraser/sampletables/sampletable.tsv'
}